@use "../mixins/namespace" as *;

/* 自定义暗黑模式样式 */
html.dark {
  body {
    color: var(--#{$el-namespace}-text-color-regular);
  }

  // 图片降低亮度
  img {
    filter: brightness(0.92) saturate(1.25);
  }

  .#{$admin-namespace}-login {
    background-color: var(--#{$el-namespace}-fill-color-extra-light);

    &__box {
      background-color: var(--#{$el-namespace}-mask-color);

      &__form {
        background-color: var(--#{$el-namespace}-bg-color);
        box-shadow: 5px 5px 15px rgb(161 161 161 / 20%);

        &__text {
          color: var(--#{$el-namespace}-text-color-primary);
        }
      }
    }
  }
}
