@use "../mixins/namespace" as *;

// 自定义 ElementPlus 亮色主题
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "white": #ffffff,
    "black": #000000,
    "primary": (
      "base": #395ae3,
    ),
    "success": (
      "base": #0bb449,
    ),
    "warning": (
      "base": #fa9014,
    ),
    "danger": (
      "base": #ef4a38,
    ),
    "error": (
      "base": #f16c39,
    ),
    "info": (
      "base": #909399,
    ),
  ),
  $button: (
    "hover-bg-color": var(--#{$admin-namespace}-color-primary-light-9),
    "hover-border-color": var(--#{$admin-namespace}-color-primary),
    "border-color": var(--#{$admin-namespace}-color-primary),
    "text-color": var(--#{$admin-namespace}-color-primary),
  ),
  $dialog: (
    "border-radius": "14px",
  ),
  $messagebox: (
    "border-radius": "12px",
  ),
  $popover: (
    "padding": "14px",
    "border-radius": "10px",
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;
