@use "@styles/mixins/bem" as *;
@use "@styles/mixins/function" as *;

@include b(data-list-card) {
  padding: 30px;
  background-color: cssVar(main-bg-color);
  border-radius: cssVar(radius);

  @include e(header) {
    padding-bottom: 15px;

    @include m(title) {
      font-size: 18px;
      font-weight: 500;
      color: cssVar(gray-900);
    }

    @include m(subtitle) {
      font-size: 14px;
      color: cssVar(gray-500);
    }
  }

  @include e(item) {
    display: flex;
    align-items: center;
    padding: 12px 0;

    @include m(icon) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-right: 12px;
      border-radius: 8px;
    }

    @include e(time) {
      margin-left: 12px;
      font-size: 12px;
      color: cssVar(gray-500);
    }
  }

  @include e(item-content) {
    flex: 1;

    @include m(title) {
      margin-bottom: 4px;
      font-size: 15px;
      color: cssVar(gray-900);
    }

    @include m(status) {
      font-size: 12px;
      color: cssVar(gray-600);
    }
  }

  @include e(more-btn) {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
}
