@use "@styles/mixins/bem" as *;
@use "@styles/mixins/namespace" as *;
@use "@styles/mixins/function" as *;

@include b(icon-picker) {
  @include e(icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: cssVar(gray-100);
    }
  }

  @include e(pagination) {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
}
