@use "@styles/mixins/bem" as *;
@use "@styles/mixins/namespace" as *;

@include b(pro-dialog) {
  &.#{$el-namespace}-dialog.is-fullscreen {
    --#{$el-namespace}-dialog-width: 100% !important;
    --#{$el-namespace}-dialog-margin-top: 0 !important;

    height: 100%;
    margin-bottom: 0;
    overflow: auto;
  }

  @include e(footer) {
    display: flex;
    align-items: center;
  }

  .fullscreen-icon {
    margin-top: -7px;
  }
}
