@use "@styles/mixins/bem" as *;
@use "@styles/mixins/function" as *;
@use "@styles/common/var" as *;

@include b(chat) {
  display: flex;
  height: 100%;
  background-color: cssVar(bg-color);
  border: 1px solid cssVar(border-color);
  border-radius: 10px;

  @include e(modal) {
    box-sizing: border-box;
    flex: 1;
    height: 100%;
  }

  @include e(container) {
    display: flex;
    flex-direction: column;
    height: calc(100% - 85px);
  }

  @include e(sort-btn) {
    margin-top: 20px;
    cursor: pointer;
  }
}

@media only screen and (max-width: $device-ipad-pro) {
  @include b(chat) {
    flex-direction: column;

    @include e(modal) {
      height: calc(70% - 30px);
    }
  }
}
