@use "@styles/mixins/bem" as *;
@use "@styles/mixins/function" as *;
@use "@styles/mixins/namespace" as *;

@include b(banner-image-card) {
  padding-bottom: 1.5rem;
  background-color: cssVar(main-bg-color);
  border-radius: calc(cssVar(radius) + 2px) !important;

  @include e(content) {
    gap: 16px;
    text-align: center;
  }

  @include e(icon) {
    width: 180px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include e(text) {
    box-sizing: border-box;
    padding: 0 16px;

    @include m(title) {
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: 600;
      color: cssVar(text-gray-800);
    }

    @include m(description) {
      margin: 0;
      font-size: 14px;
      color: cssVar(text-gray-600);
    }
  }

  @include e(buttons) {
    display: flex;
    gap: 12px;
    align-items: center;

    @include m(button) {
      display: inline-block;
      height: var(--#{$el-namespace}-component-height);
      padding: 0 12px;
      font-size: 14px;
      line-height: var(--#{$el-namespace}-component-height);
      cursor: pointer;
      user-select: none;
      border-radius: 6px;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.9;
      }

      @include is(cancel) {
        border: 1px solid cssVar(gray-300);
      }
    }
  }
}
