@use "@styles/mixins/namespace" as *;
@use "@styles/mixins/function" as *;
@use "@styles/common/var" as *;

.analysis-dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;

  .#{$el-namespace}-row {
    row-gap: 20px;
  }

  :deep(.card) {
    display: flex;
    flex-direction: column;
    height: 330px;

    &.height-large {
      height: 400px;
    }

    // 卡片头部
    .card-header {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px;
      margin-bottom: 10px;

      .header-title {
        display: flex;
        flex-direction: column;
      }

      .title {
        font-size: 20px;
        font-weight: 400;
        color: cssVar(text-gray-900);
      }

      .subtitle {
        font-size: 13px;
        color: cssVar(gray-600);
      }
    }

    .card-body {
      flex: 1;
      padding: 10px;

      &.no-padding {
        padding: 0;
      }
    }

    .card-footer {
      box-sizing: border-box;
      padding: 0 20px;
      margin-top: 15px;
    }
  }

  @media screen and (max-width: $device-phone) {
    :deep(.card) {
      height: 100%;

      &.height-large {
        height: 100%;
      }
    }
  }

  .#{$el-namespace}-card {
    border: 1px solid #e8ebf1;
    box-shadow: none;
  }

  .mt-20 {
    margin-top: 20px;
  }
}

.dark {
  .analysis-dashboard {
    :deep(.card) {
      box-shadow: 0 4px 20px rgb(0 0 0 / 50%);
    }
  }
}

@media (max-width: 1200px) {
  .analysis-dashboard {
    .mt-20 {
      margin-top: 0;
    }

    :deep(.card) {
      margin-bottom: 20px;
    }
  }
}
